@media only screen and (min-width: 900px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .landing_hero {
    display: flex;
    padding-top: 3em;
    justify-content: center;
    padding-bottom: 6em;
  }

  .hero_illustration {
    width: 50%;
    height: 50%;
    padding-right: 1em;
    margin-right: 1.5em;
    animation: fadeInRight 1.5s;
  }

  .value_prop_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -2em;
  }

  .value_prop_button {
    margin-top: -3em;
    margin-right: 3em;
    padding: 1em 2em 1em 2em;
    border-radius: 15px;
    background-color: blue;
    font-size: 1.1em;
    font-weight: 900;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
  }

  .feature1 {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    background: linear-gradient(135deg, rgba(218, 247, 205, 1) 55%, rgba(173, 127, 28, 1) 100%);
  }

  .feature2 {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    font-size: 1.2em;
    background-color: rgb(218, 247, 205);
  }

  .feature1_text {
    margin-right: 2em;
    padding-top: 2em;
    padding-right: 1em;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
  }

  .feature1_img {
    padding-top: 2em;
    padding-bottom: 2em;
    width: 40%;
    height: 40%;
  }

  .feature1_img_none {
    display: none;
  }

  .feature2_text {
    padding-top: 1em;
    padding-left: 3em;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
  }

  .feature2_img {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-right: 3em;
    width: 40%;
    height: 40%;
  }

  .feature2_img_none {
    display: none;
  }

  .feature2_img_mobile {
    display: none;
  }

  .feature2_img_mobile_none {
    display: none;
  }

  .value_prop {
    padding-top: 0.5em;
    margin: 2em;
    font-size: 2.5em;
  }

  .wave_bottom_hero > img {
    width: 100%;
  }

  .get_started_button:hover {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 900px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .landing_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
  }

  .hero_illustration {
    width: 50%;
    height: 50%;
    padding-right: 1em;
    margin-right: 1.5em;
    animation: fadeInRight 1.5s;
  }

  .value_prop_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -2em;
  }

  .value_prop_button {
    margin-bottom: 4em;
    padding: 1em 2em 1em 2em;
    border-radius: 15px;
    background-color: blue;
    font-size: 1.1em;
    font-weight: 900;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
  }

  .feature1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
  }

  .feature2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    margin: 2em;
  }

  .feature1_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-right: 1em;
    margin: 1em;
  }

  .feature1_img {
    padding-top: 5em;
    padding-bottom: 2em;
    width: 60%;
    height: 60%;
    animation: fadeInRight 1s;
  }

  .feature1_img_none {
    display: none;
  }

  .feature2_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    margin: 1em;
    padding-right: 1em;
  }

  .feature2_img {
    display: none;
  }

  .feature2_img_mobile {
    padding-top: 5em;
    padding-bottom: 2em;
    width: 60%;
    height: 60%;
  }

  .feature2_img_mobile_none {
    display: none;
  }

  .pic_section {
    display: flex;
    justify-content: space-evenly;
    padding-top: 6em;
    padding-bottom: 3em;
  }

  .value_prop {
    padding-top: 0.5em;
    margin: 2em;
    font-size: 2.5em;
  }

  .wave_bottom_hero > img {
    width: 100%;
  }
}

.card_row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1em;
  margin-top: 3em;
}

.card > p {
  font-size: 1.3em;
  font-weight: bold;
}

.icon {
  padding-top: 0.7em;
  font-size: 4em;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(128, 118, 118, 0.2);
  height: 20em;
  width: 16em;
  align-items: center;
  border-bottom: 2em solid blue;
  border-top: 2em solid blue;
  border-radius: 2em;
  margin: 1em;
  padding: 1em;
}

.bar1 {
  width: 70%;
  margin-top: 3em;
}

.bar2 {
  width: 65%;
  margin-bottom: 2em;
}

.bar_card_row1 {
  margin-top: 4em;
  width: 30%;
}

.bar_card_row2 {
  margin-top: 2em;
  margin-bottom: -2em;
  width: 30%;
}

.testimonial_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
  align-items: center;
  margin: 2em;
}

.bottom_cta_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 600;
}

.get_started_button {
  margin-top: 2em;
  margin-bottom: 1em;
  align-self: center;
  width: 14em;
  padding: 1em 1em 1em 1em;
  background-color: white;
  border: 1px solid blue;
  color: blue;
  font-weight: 900;
  cursor: pointer;
}

.find_out_more_button {
  margin-top: 2em;
  margin-bottom: 1em;
  align-self: center;
  border-radius: 5px;
  width: 8em;
  padding: 0.5em 1em 0.5em 1em;
  background-color: blue;
  color: white;
  border: none;
  font-weight: 800;
  cursor: pointer;
}

.bottom_cta_section {
  margin-top: 7em;
  margin: 2em;
}

.social_title {
  text-align: center;
  margin: 1em;
  padding-bottom: 2em;
}
.social_bar {
  padding-top: 7em;
  margin: 1em;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
