@media only screen and (min-width: 900px) {
  .blog_layout {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .blog_layout {
    display: flex;
    flex-direction: column;
  }
  .top_posts {
    display: none;
  }
}

.blog_post_column {
  display: flex;
  flex-direction: column;
  margin-left: 4em;
  margin-right: 2em;
}

.pagination_row {
  margin-top: 1.5em;
  font-size: 1.2em;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.previous {
  border-bottom: 1px solid black;
  color: black;
  align-self: flex-end;
}

.next {
  border-bottom: 1px solid black;
  color: black;
  align-self: flex-end;
}

.page_change {
  text-decoration: none;
  color: black;
}
