@media only screen and (min-width: 900px) {
  .post_layout {
    display: grid;
    grid-template-columns: 30% 70%;
    overflow: hidden;
    margin-bottom: 2em;
    width: 80%;
  }

  .post_layout:hover {
    box-shadow: 1px 4px 8px 1px rgba(128, 118, 118, 0.2);
  }

  .feature_image {
    padding: 1em;
  }
}

@media only screen and (max-width: 900px) {
  .post_layout {
    border: lightgrey 0.5px solid;
    margin-bottom: 1em;
  }

  .feature_image {
    display: none;
  }
}

.link {
  text-decoration: none;
}

.post_text_container {
  padding: 1em;
}
