.table_container {
  display: flex;
  padding: 1.2em;
  margin: 1em;
}

.detail_panel {
  padding: 2em;
}

.button_row {
  display: flex;
  justify-content: flex-start;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 400px;
  padding: 1em;
  background-color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(128, 118, 118, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
